html,
body {
	margin: 0;
	padding: 0;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--font-family: 'Raleway', sans-serif;
	--black: #181716;
	--gray: #818181;
	--gray-light: #EBEBEB;
	--white: white;
	--primary: #E55151;
	--primary-hover: #D52929;
}
